@model MortgageCalculator.Models.Loan
@{
    ViewBag.Title = "Loan List";
}

<h2>Loan List</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Mortgage Amount</th>
        <th>Annual Interest Rate</th>
        <th>Amortization Period</th>
        <th>Monthly Payment</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
